<section id="about" class="about">
  <div class="container">
    <h2 class="about_title">О КОНФЕРЕНЦИИ</h2>
    <p>«ИТ-Ритм» – это специализированная ежегодная конференция,
      предоставляющая уникальные возможности для встреч, обмена
      практическим опытом и изучения трендов развития информационных
      технологий для руководителей и специалистов ИТ-подразделений
      крупных компаний, а также для ведущих российских разработчиков
      программного обеспечения и производителей оборудования.</p>

    <div class="stats">
      <div class="stat-item">
        <img class="stats_image" src="./media/images/15+.png"><span>докладов</span>
      </div>
      <div class="stat-item">
        <img class="stats_image" src="./media/images/100+.png"><span>участников</span>
      </div>
      <div class="stat-item">
        <img class="stats_image" src="./media/images/3.png"><span>сессии</span>
      </div>
      <div class="stat-item">
        <img class="stats_image" src="./media/images/2.png"><span>дня</span>
      </div>
      <div class="stat-item">
        <img class="stats_image" src="./media/images/1.png"><span>ИТ-ритм</span>
      </div>
    </div>

    <video class="stats_video" controls width="100%" autoplay="true" muted="true"
      style="max-width: 100%; height: auto;">
      <source src="https://disk.yandex.ru/d/bkgoVHIguMcLdQ" type="video/webm">
      <source src="https://www.gaz-is.ru/images/news/conference.mp4" type="video/mp4">
      Ваш браузер не поддерживает видео тег.
    </video>
  </div>
</section>
