<footer class="footer ">
  <div class="container">
    <div class="footer__logo">
      <img src="./media/logo-name.png" alt="Логотип" />
    </div>

    <div class="footer__container">
      <div class="footer__info">
        <div class="footer__contacts">
          <h4>Контакты для связи</h4>
          <span>
            <p>Руководитель проекта: Светлана Лысикова</p>
            <p>Lysikova-S@gisca.ru, +7 (981) 193 08 35</p>
          </span>
          <span>
            <p>Куратор проекта Александра Биушкина</p>
            <p>Biushkina-A@gisca.ru, +7 (911) 088 82 11</p>
          </span>
        </div>

        <div class="footer__note">
          <h4></h4>
          <p>
            Мероприятие носит закрытый характер<br />
            По вопросам сотрудничества и участия<br />
            просим обращаться по указанным<br />
            средствам связи
          </p>
        </div>

        <div class="footer__events">
          <h4>Прошлые события</h4>
          <p>2025</p>
          <p>2024–2021</p>
        </div>
      </div>

      <div class="footer__bottom">
        © 2025 ИТ-Ритм. Все права защищены.
      </div>
    </div>
  </div>
</footer>
