<section class="hero">
  <div class="container">
    <video width="250" autoplay muted loop id="myVideo">
      <source src="./media/backgroundMedia.webm" type="video/webm">
      <source src="./media/backgroundMedia.mp4" type="video/mp4">
    </video>
    <h2>ЕЖЕГОДНАЯ КОНФЕРЕНЦИЯ</h2>
    <img class="hero_image" src="./media/logo-name.png" id="heroLogo" alt="ИТ-РИТМ">
    <h3>ПО ИНФОРМАЦИОННЫМ ТЕХНОЛОГИЯМ ДЛЯ ПРЕДПРИЯТИЙ ТЭК</h3>
    <img class="hero_date" src="./media/logo-date.png" id="heroDate" alt="31.07-01.08">
  </div>
</section>
