<section id="location" class="location-section">
  <div class="container location-container">
    <div class="location-item">
      <h2>МЕСТО ПРОВЕДЕНИЯ</h2>
      <h3>РЕПИНО ПАРК ОТЕЛЬ</h3>
      <p>г. Санкт-Петербург, п. Репино, Приморское шоссе, д. 394, литера Б, корпус 1</p>
      <div class="location-wrapper">
        <img src="./media/Repino.jpg" alt="Репино Парк Отель">
        <div id="map"></div>
      </div>
    </div>

    <div class="location-item">
      <h2>ПОСАДКА НА ТРАНСФЕР</h2>
      <p>Трансфер до места проведения мероприятия отправляется в 09:00.<br />Просим подойти к месту посадки заранее —
        за 10–15 минут.</p>
      <p>Точка сбора: ул. Савушкина, д. 13 (ближайшая станция метро — Чёрная речка).</p>
      <p>Если по каким-либо причинам вы задерживаетесь, пожалуйста, незамедлительно сообщите об этом вашему
        менеджеру
      </p>
      <div id="map-last" class="location-map"></div>
    </div>
  </div>
</section>
