<section id="location" class="location-section">
  <div class="container location-container">
    <div class="location-info">
      <div>
        <h2 class="location-title_first">МЕСТО ПРОВЕДЕНИЯ</h2>
        <h3>РЕЛИНО ПАРК ОТЕЛЬ</h3>
        <p>г. Санкт-Петербург, п. Репино, Приморское шоссе, д. 394, литера Б, корпус 1</p>
      </div>
      <div>
        <h2 class="location-title-last">ПОСАДКА НА ТРАНСФЕР</h2>
        <p>До места проведения мероприятия организован трансфер в 09:00 Отправление трансфера от м. Черная речка</p>
        <p>В случае если вы по каким-либо причинам задерживаетесь, просим вас незамедлительно уведомить об этом
          вашего менеджера</p>
      </div>
    </div>
    <div id="map" class="location-map"></div>
  </div>
</section>
