<section id="program" class="program">
  <div class="container">
    <h2>ПРОГРАММА КОНФЕРЕНЦИИ</h2>
    <div class="schedule">

      <h3>31 ИЮЛЯ 2025</h3>
      <div class="schedule-day">

        <div class="schedule-item">
          <div class="time">09:00</div>
          <p>Отправление трансфера от м. Черная речка</p>
        </div>

        <div class="schedule-item">
          <div class="time">10:00 – 10:30</div>
          <p>Регистрация, приветственный кофе</p>
        </div>

        <div class="schedule-item">
          <div class="time">10:00 – 18:00</div>
          <p class="session-title">Работа выставочной зоны</p>
          <p>Демонстрация решений вендоров на стендах</p>
          <p class="location">2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">10:30 – 12:20</div>
          <p class="session-title">Техническая сессия №1</p>
          <p>Методы эффективного обслуживания и модернизации
            вычислительных комплексов, выполненных на базе
            отечественных компонентов</p>

          <div class="accordion"> <!-- Спикеры сессии -->
            <div class="accordion-item">
              <div class="accordion-header">Спикеры сессии</div>
              <div class="accordion-content">

                <div class="speaker-list">
                  <!-- Базовый блок -->
                  <!--
                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/Person1.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Иван Петров</div>
                        <div class="speaker-company">«Аквариус»</div>
                        <div class="speaker-topic">Опыт внедрения отечественных серверных
                          решений
                        </div>
                      </div>
                    </div>
                  </div>   -->

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/akvarius_marin.jpeg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Олег Марин</div>
                        <div class="speaker-company">«Аквариус»</div>
                        <div class="speaker-topic">«ИТ Инфрастуктура-развитие и перспективы в Вашем Ритме»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                       <img src="./images/Skala.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Михаил Гилязов</div>
                        <div class="speaker-company">«Скала^р»</div>
                        <div class="speaker-topic">«Концепция виртуального КБ в нефтегазовой отрасли»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/yadro_logo_0.png" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Александр Ефанов</div>
                        <div class="speaker-company">Yadro</div>
                        <div class="speaker-topic">«YADRO: готовые решения для цифровой трансформации»</div> 
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/Fplus_kudrivcev.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Владислав Кудрявцев</div>
                        <div class="speaker-company">Fplus</div>
                        <div class="speaker-topic">«Решения Fplus для нефтегазового сектора»</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <p class="location">Конференц-зал, 2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">12:20 – 12:50</div>
          <p>Кофе-брейк, осмотр стендов</p>
          <p class="location">2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">12:50 – 14:55</div>
          <p class="session-title">Техническая сессия №2</p>
          <p>Подходы к эксплуатации отечественного специализированного ПО и развитию
            информационных систем, реализованных на его основе</p>
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-header">Спикеры сессии</div>
              <div class="accordion-content">
                <div class="speaker-list">
                  <!-- Базовый блок -->
                  <!--
                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/Person1.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Иван Петров</div>
                        <div class="speaker-company">«Аквариус»</div>
                        <div class="speaker-topic">Опыт внедрения отечественных серверных
                          решений
                        </div>
                      </div>
                    </div>
                  </div>
                  -->

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                     <img src="./images/Aladdin.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Дмитрий Шуралев</div>
                        <div class="speaker-company">«Аладдин Р.Д.»</div>
                      </div>
                    </div>

                    <div class="speaker-item-wrap">
                      <img src="./images/UCGIS.png" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Константин Логунов</div>
                        <div class="speaker-company">«УЦ ГИС»</div>
                       <div class="speaker-topic">«Переход к строгой аутентификации - полный отказ от паролей, на примере продуктовой линейки Аладдин»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/primo_rpa_vinogradov.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Артём Виноградов</div>
                        <div class="speaker-company">Primo RPA</div>
                      </div>
                    </div>
                    
                    <div class="speaker-item-wrap">
                    <img src="./images/Next.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Михаил Верисов</div>
                        <div class="speaker-company">ЦТР «Некст»</div>
                        <div class="speaker-topic">«Роботы RPA: что это и как их успешно использовать в крупном бизнесе»</div>
                      </div>
                    </div>
                  </div>
                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                       <img src="./images/cyber_marakshin.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Владимир Маракшин</div>
                        <div class="speaker-company">«Киберпротект»</div>
                       <div class="speaker-topic">«Построение масштабируемых инсталляций систем резервного копирования на базе Кибер Бэкап и Кибер Хранилище»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                       <img src="./images/inform_kozlov.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Михаил Козлов</div>
                        <div class="speaker-company">«Информатика»</div>
                        <div class="speaker-topic">«Решения АСМО для автоматизации производственных и диспетчерских задач»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/rudesktop_yurinskay.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Ольга Юринская</div>
                        <div class="speaker-company">RuDesktop</div>
                        <div class="speaker-topic">«RuDesktop - практика безопасного и эффективного управления ИТ инфраструктурой»</div>                       
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <p class="location">Конференц-зал, 2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">14:55 – 16:10</div>
          <p>Деловой обед, обмен мнениями</p>
          <p class="location">2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">16:10 – 18:00</div>
          <p class="session-title">Техническая сессия №3</p>
          <p>Лучшие практики применения и совершенствования системно-технической
            инфраструктуры, функционирующей под управлением отечественного ПО</p>
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-header">Спикеры сессии</div>
              <div class="accordion-content">
                <div class="speaker-list">
                  <!-- Базовый блок -->
                  <!--
                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/Person1.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Иван Петров</div>
                        <div class="speaker-company">«Аквариус»</div>
                        <div class="speaker-topic">Опыт внедрения отечественных серверных
                          решений
                        </div>
                      </div>
                    </div>
                  </div>
                  -->

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                     <img src="./images/ITD Group_Mihailov.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Антон Михайлов</div>
                        <div class="speaker-company">SASTAV</div>
                      </div>
                    </div>

                    <div class="speaker-item-wrap">
                      <img src="./images/ITD Group_Zrychih.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Андрей Зрячих</div>
                        <div class="speaker-company">ITD Group</div>
                       <div class="speaker-topic">«Время - деньги, или Ускоряем релиз цифровых продуктов и коммуникации проектных команд»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                    <img src="./images/grftech_kuleshov.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Сергей Кулишов</div>
                        <div class="speaker-company">«Графтех»</div>
                        <div class="speaker-topic">«Легкая замена MS Visio без потери данных и качества работы. Редактор технических и бизнес-схем Автограф»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                    <img src="./images/bazalt_stavcev.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Роман Ставцев</div>
                        <div class="speaker-company">«Базальт СПО»</div>
                        <div class="speaker-topic">«Пример инфраструктурного решения на базе ОС Альт»</div>
                     </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/12_visiology.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Максим Губин</div>
                        <div class="speaker-company">Visiology</div>
                      <div class="speaker-topic">«Внедрение культуры data-driven управления. Пульт управления руководителя»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/setere_dybla.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Наталья Дыбля</div>
                        <div class="speaker-company">SETERE Group</div>
                        <div class="speaker-topic">«СЕТЕРЕ: что делать если Адоб ушел, а PDF остался?»</div>
                      </div>
                    </div>
                  </div>

                  <div class="speaker-item">
                    <div class="speaker-item-wrap">
                      <img src="./images/Orion_soft.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Максим Березин</div>
                        <div class="speaker-company">Orion soft</div>
                      <div class="speaker-topic">«Замещение импортозамещения и аналитика рынка ИТ-инфраструктуры 2024, тренды-2025»</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <p class="location">Конференц-зал, 2 этаж</p>
        </div>

        <div class="schedule-item">
          <div class="time">18:00 – 19:00</div>
          <p>Заселение в отель, свободное время</p>
        </div>

        <div class="schedule-item">
          <div class="time">19:00 – 23:00</div>
          <p>Гала-ужин</p>
          <p class="location">Ресторан «Альманах»</p>
        </div>
      </div>

      <h3>01 АВГУСТА 2025</h3>
      <div class="schedule-day">
        <div class="schedule-item">
          <div class="time">08:00 – 11:00</div>
          <p>Завтрак, свободное время, освобождение номеров</p>
          <p class="location">Ресторан «Артишок»</p>
        </div>

        <div class="schedule-item">
          <div class="time">11:30</div>
          <p>Трансфер до м. Черная речка</p>
        </div>

        <div class="schedule-item">
          <div class="time">11:30 – 13:00</div>
          <p class="session-title">Круглый стол</p>
            <div class="speaker-item-wrap">
                      <img src="./images/ucgis_perminov.jpg" alt="Спикер" class="speaker-photo">
                      <div class="speaker-info">
                        <div class="speaker-name">Максим Перминов</div>
                        <div class="speaker-company">«УЦ ГИС»</div>
                        <div class="speaker-topic">«Актуальные вопросы использования электронной подписи на предприятиях ТЭК»</div>
               </div>
            </div>
          <p>
          <p class="location">2 этаж</p>
        </div>
        <div class="schedule-item">
          <div class="time">13:10</div>
          <p>Трансфер до м. Черная речка</p>
        </div>
      </div>
    </div>
  </div>
</section>
