<section id="speakers" class="speakers">
  <div class="container">
    <h2>КЛЮЧЕВЫЕ СПИКЕРЫ</h2>

    <div class="swiper speakers-swiper">
      <div class="swiper-wrapper">
        {% for speaker in site.data.speaker %}
        <div class="swiper-slide speaker-card">
          <div class="speaker-image-wrapper">
            <img src="{{ speaker.src }}" alt="Спикер" />
          </div>
          <h4>{{ speaker.name }}</h4>
          <p>{{ speaker.details }}</p>
          <p>{{ speaker.company }}</p>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination swiper-speaker-pagination" style="position: relative; bottom: -45px;"></div>
    </div>
  </div>
</section>
