<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ИТ-Ритм 2025 - Конференция по информационным технологиям</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel='stylesheet' href='./assets/styles.css'>
</head>

{% include header.html %}

<body>
  {{ content }}
</body>

{% include footer.html %}

<script src="./scripts/index.js"></script>
<script src="./scripts/maps.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="./scripts/swiper.js"></script>

</html>
